<html>
<head></title>
    <%include layout/library.ejs%>
</head>
<body class="skin-blue fixed sidebar-mini">
<!-- Site wrapper -->
<div class="wrapper">
    <%include layout/header.ejs%>
    <!-- =============================================== -->

    <!-- Left side column. contains the sidebar -->
    <%include layout/menu.ejs%>
    <!-- =============================================== -->

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper" style="min-height: 265px;">
        <!-- Content Header (Page header) -->

        <!-- =============================================== -->

        <div style="padding-top: 10px"></div>
        <!-- Main content -->
        <section class="content">

            <h1></h1>
            <div class="row ">
                <div class="col-md-9">
                    <div class="box box-solid box-primary">
                        <div class="box-header with-border">
                            <h3 class="box-title">ADD PRODUCTS FOR THE PURCHASE ORDER</h3>
                        </div>
                        <!-- /.box-header -->
                        <!-- form start -->

                        <div class="box-body">

                            <div class="row">
                                <div class="col-xs-6">
                                    <label for="prod-id">Product Info</label>
                                    <select id="prod-id" class="form-control select2" onchange="getProductInfo()" name="proID"  style="width: 100%;">
                                        <% products.forEach(function(prod) { %>
                                        <option value="<%=prod._id %>"><%=prod.product_id %> - <%= prod.product_name %></option>
                                        <% }); %>
                                    </select>
                                    <input type="hidden" name="proName" id="pro-name">
                                    <input type="hidden" name="pro_id" id="pro-id">
                                </div>
                            </div>
                            <div class = "row">
                                <div class="col-xs-6">
                                    <div class="form-group">
                                        <label for="cost-per-item">Pro's Cost</label>
                                        <div class="input-group">
                                            <input name="itemCost" readonly type="text" class="form-control " required="true" id="cost-per-item" placeholder=""/>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-6">
                                    <div class="form-group">
                                        <label for="pro-currency">Pro's currency</label>
                                        <div class="input-group">
                                            <input name="proCurrency" readonly type="text" class="form-control " required="true" id="pro-currency" placeholder=""/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-6">
                                    <div class="form-group">
                                        <label for="description">Description</label>
                                        <textarea name="description" readonly class="form-control " rows="3" id="description" placeholder="Enter ..."> </textarea>
                                    </div>
                                </div>
                                    <div class="col-xs-4">
                                        <div class="form-group">
                                            <label for="ex-rate">Exchange rate</label>
                                            <div class="input-group">
                                                <input name="exchangeRate" readonly type="text" class="form-control " required="true" id="ex-rate" placeholder=""/>
                                            </div>
                                        </div>
                                    </div>

                            </div>
                            <div class = "row">
                                <div class="col-xs-4">
                                    <div class="form-group">
                                        <label for="pro-quantity">Quantity</label>
                                        <div class="input-group">
                                            <input name="proQuantity" type="text" onchange="calculateAmount()" class="form-control " required="true" id="pro-quantity" placeholder=""/>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-4">
                                    <div class="form-group">
                                        <label for="cus-rate">Customer rate</label>
                                        <div class="input-group">
                                            <input name="cusRate" type="text" onchange="calculateAmount()" class="form-control " required="true" id="cus-rate" placeholder=""/>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-4">
                                    <div class="form-group">
                                        <label for="amountProduct">Amount</label>
                                        <div class="input-group">
                                            <input name="amountProduct" readonly type="text" class="form-control " required="true" id="amountProduct" placeholder=""/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-4">
                                    <button style=" margin-top: 20px; " type="button" onclick="addProductIntoPO()" class="btn btn-primary btn-flat">ADD PRODUCT</button>
                                </div>
                            </div>
                            <div id="loadProductsInPO">

                            </div>
                        </div>
                        <!-- /.box-body -->
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="box box-solid box-primary">
                        <div class="box-header with-border">
                            <h3 class="box-title">The PO's Information</h3>
                        </div><!-- /.box-header -->
                        <!-- form start -->
                        <div class="box-body">
                            <div class="row">
                                <div class="col-md-4">PO ID</div>
                                <div class="col-md-8" style="font-weight: bold;"><%= session.po.poNumber%></div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">PO Name</div>
                                <div class="col-md-8" style="font-weight: bold;"><%= session.po.poName%></div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">Customer</div>
                                <div class="col-md-8" style="font-weight: bold;"><%= session.po.customer.name%></div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">Delivery Date</div>
                                <div class="col-md-8" style="font-weight: bold;"><%= session.po.createdDate%></div>
                            </div>
                        </div><!-- /.box-body -->
                    </div>
                </div>
            </div>

        </section><!-- /.content -->
    </div>
    <!-- /.content-wrapper -->

    <%include layout/footer.ejs%>
</div>
<!-- ./wrapper -->
<script>
    $(document).ready(function() {
        $('#prod-id').select2();
    });
    function calculateAmount(){
        var proCost = $('#cost-per-item').val();
        var exchangeRate = $('#ex-rate').val();
        var quantity = $('#pro-quantity').val();

        if(quantity == "" ){
            quantity = 1;
        }
      //  alert('quantity' + quantity);
        var custRate = $('#cus-rate').val();

        if(custRate == ""){
            custRate = 1;
        }
       // alert('custRate' + custRate);
        var proAmount = proCost * exchangeRate * quantity * custRate;
        $('#amountProduct').val(proAmount);
    }
    loadListProducts('');
    function loadListProducts(products){
        var row = '';
        row += '<table id="dataload" class="table table-bordered table-striped thead">';
        row +=		'<thead>';
        row +=          '<tr>';
        row +=          '<th>#</th>';
        row +=          '<th>Pro-Infor</th>';
        row +=          '<th>Cost</th>';
        row +=          '<th>Quantity</th>';
        row +=          '<th>Customer Rate</th>'
        row +=          '<th>Amount</th>';
        row +=          '</tr>';
            for (var i = 0; i < products.length; i++) {
                stt = i + 1;
                row += '<tr>';
                row += '<td>' + stt + '</td>';
                row += '<td>' + products[i].product_name + '</td>';
                row += '<td>' + products[i].costPerItem + '</td>';
                row += '<td>' + products[i].quantity + '</td>';
                row += '<td>' + products[i].customer_rate + '</td>';
                row += '<td>' + products[i].amount + '</td>';
                row += '</tr>';
            }
            row += '</thead>';
            row += '</table>'
            row += '<br>';
            row += '<div class="col-xs-4">';
            row += '<button style=" margin-top: 20px; " type="button" onclick="submitFinishAddingPurchaseOrder()" class="btn btn-primary btn-flat">FINISH ADDING THE PRODUCT</button>'
            row += '</div>';

        $("#loadProductsInPO").html(row);
    }
    function submitFinishAddingPurchaseOrder(){
        $.ajax({
            type: "post",
            url: '/purchase-order/finish-adding',
            dataType: 'json',
            data: '',
            success: function(response) {
                window.location = response.redirect
            }
        });
    }
    function getProductInfo(){
        var proID = $('#prod-id').val();
        $('#pro-quantity').val('');
        $('#cus-rate').val(1);
        $('#amountProduct').val('');
        $.ajax({
            type: "get",
            url: '/po/ajax-get-the-product-info',
            dataType: 'json',
            data: {
                proID: proID
            },
            success: function(response) {
                $('#pro-name').val(response.product.product_name);
                $('#pro-id').val(response.product.product_id);
                $('#cost-per-item').val(response.product.final_cost.cost);
                $('#pro-currency').val(response.product.final_cost.currency);
                $('#description').val(response.product.description);
                $('#ex-rate').val(response.exchangeRate);
            }
        });
    }
    function addProductIntoPO() {
        var proID = $('#prod-id').val();
        var proid = $('#pro-id').val();
        var proName = $('#pro-name').val();
        var proCost = $('#cost-per-item').val();
        var proCurrency = $('#pro-currency').val();
        var proNote = $('#description').val();
        var exchangeRate = $('#ex-rate').val();
        var quantity = $('#pro-quantity').val();
        var custRate = $('#cus-rate').val();
        var proAmount = $('#amountProduct').val();
        $.ajax({
            type: "post",
            url: '/purchase-order/add-pro-into-PO',
            dataType : 'json',
            data: {
                proID : proID,
                proid : proid,
                proName : proName,
                proCost : proCost,
                proCurrency : proCurrency,
                proNote : proNote,
                exchangeRate : exchangeRate,
                quantity : quantity,
                cusRate : custRate,
                proAmount : proAmount
            },
            success: function(response){
                loadListProducts(response.products);
            }
        });
    }
</script>
</body>
</html>