<html>
<head></title>
    <%include layout/library.ejs%>
    <script src='../views/resources/AdminLTE-2.3.0/plugins/floatThead/jquery.floatThead.min.js'></script>
</head>
<body class="skin-blue fixed sidebar-mini">
<style>
    .table>tbody>tr>td {
        vertical-align: middle;
    }
    .glyphicon {
        font-size: 30px;
    }
</style>
<!-- Site wrapper -->
<div class="wrapper">
    <%include layout/header.ejs%>
    <!-- =============================================== -->

    <!-- Left side column. contains the sidebar -->
    <%include layout/menu.ejs%>
    <!-- =============================================== -->

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper" style="min-height: 265px;">
        <!-- Content Header (Page header) -->

        <!-- =============================================== -->

        <div style="padding-top: 10px"></div>
        <!-- Main content -->
        <section class="content">

            <div align="right"><button onclick="printSelection(document.getElementById('test'));return false"><span class='glyphicon glyphicon-print' ></span></button></div>

            <div class="row"  style=" margin-top: 50px; ">

                        <div id ='test'>
                            <div class="col-md-2">
                            </div>
                            <div class="col-md-8">
                                <div class="box box-solid box-primary">
                                    <div class="box-body">
                                        <div align="left">
                                            <font size="2.5 px;">
                                                <b>E-CRM (----Name of company)</b><br>
                                                3612 Bremerstraße 24118 Kiel. <br>
                                                Telephone  : 049 15225772527 <br>
                                                Tax Number         : .............<br>
                                            </font>
                                        </div>
                                        <div align="center">
                                            <h3 >
                                                <span style="font-weight: bold;  align: center;"> PURCHASE ORDER</span>
                                            </h3>
                                        </div>
                                    </div>
                                    <!-- /.box-header -->
                                    <!-- form start -->
                                    <div class="box-body">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label><font size="2.5px;">PO Number : <%=po.poNumber%></font></label>
                                            </div>
                                            <div class="col-md-6">
                                                <label><font size="2.5px;">Created Date </font> : <%=utility.formatDate(po.createdDate)%></label><br>
                                                <label><font size="2.5px;">Delivery Date : </font><%=utility.formatDate (po.deliveryDate)%></label>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <label><font size="2.5px;">PO Name : <%= po.poName%></font></label>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label><font size="2.5px;">Customer :</font><font size="3px;"><%=customer.last_name%></font></label>
                                            </div>
                                            <div class="col-md-6">
                                                <label><font size="2.5px;">Telephone : </font><%=customer.contact_phone%></label>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <label><font size="2.5px;">Customer's address :</font><font size="4px;"> <%=customer.adress%> </font></label>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <label><font size="2.5px;">Tax Number :</font><font size="4px;"> 9817263547</font></label>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <label><font size="2.5px;">Provision of Contract :</font><font size="4px;">  </font></label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="box-body">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <table border="1" class="table table-hover skip">
                                                    <tr>
                                                        <th><font size="2px;">#</font></th>
                                                        <th><font size="2px;">Pro ID</font></th>
                                                        <th><font size="2px;">Pro Name</font></th>
                                                        <th><font size="2px;">Description</font></th>
                                                        <th><font size="2px;">Quantity</font></th>
                                                        <th><font size="2px;">Cost</font></th>
                                                        <th><font size="2px;">Amount</font></th>

                                                    </tr>
                                                    <%var i = 1;
                                                        po.products.forEach(function (p) {
                                                    %>

                                                    <tr>
                                                        <td><%=i++ %></td>
                                                        <td><%= p.productID%></td>
                                                        <td><%= p.product_name %></td>

                                                        <td><%= p.description %></td>
                                                        <td><%= p.quantity %></td>
                                                        <td><%= p.costPerItem %></td>
                                                        <td><%= p.amount %></td>

                                                    </tr>
                                                    <%  });%>
                                                            <tr>
                                                                <td colspan="6" align="right"><font size="2.5px;"><b>AMOUNT</b></font></td>
                                                                <td colspan="1"><font size="3px;"><b><%= po.totalAmount%></b> </font></td>

                                                            </tr>
                                                            <tr>
                                                                <td colspan="6" align="right"><b><font size="2.5px;">VAT (10%)</font></b></td>
                                                                <td colspan="1"><b>&nbsp;&nbsp;&nbsp;<font size="3px;"><%=po.vat%>%</font></b> </td>

                                                            </tr>
                                                            <tr>
                                                                <td colspan="6" align="right"><b><font size="2.5px;">TOTAL</font></b></td>
                                                                <td colspan="1"><b><font size="3px;"><%=po.totalAfterVAT%></font></b> </td>

                                                            </tr>
                                                        </c:when>

                                                </table>
                                                <b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Created Person </b> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                                                <b>Manager</b>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- /.box-body -->
                                </div>
                            </div>
                        </div>

            </div>
        </section><!-- /.content -->
    </div>
    <!-- /.content-wrapper -->

    <%include layout/footer.ejs%>
</div>
<!-- ./wrapper -->
<script type="text/javascript">

    function printSelection(node){

        var content=node.innerHTML
        var pwin=window.open('','print_content','width=1000,height=1000');

        pwin.document.open();
        pwin.document.write('<html><head><link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css"></head><body onload="window.print()">'+content+'</body></html>');
        pwin.document.close();

        setTimeout(function(){pwin.close();},10000);

    }
</script>
</body>
</html>