
<html>
<head><title><%= (typeof title != "undefined" ? title : "promoview") %></title>
    <%include ./layout/library.ejs%>
</head>
<body>
<body class="skin-blue fixed sidebar-mini">
<!-- Site wrapper -->
<div class="wrapper">
    <%include ./layout/header.ejs%>
    <!-- =============================================== -->

    <!-- Left side column. contains the sidebar -->
    <%include ./layout/menu.ejs%>
    <!-- =============================================== -->

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper" style="min-height: 265px;">
        <!-- Content Header (Page header) -->

        <!-- =============================================== -->

        <div style="padding-top: 10px"></div>
        <!-- Main content -->
        <section class="content">
            <section class="content-header">
                <h1>
                    Manage PROMOCODES
                    <!-- <small>advanced tables</small> -->
                </h1>

            </section>


            <!-- Main content -->
            <section class="content">
                <div class="row">
                    <div class="col-xs-14">
                        <div class="box box-solid box-primary">
                            <div class="box-header with-border">
                                <h3 class="box-title">created promotions</h3>

                            </div><!-- /.box-header -->
                            <div class="box-body">
                                <table id="manage" class="table table-bordered table-stripped abc">
                                    <thead>
                                    <tr>
                                        <th>No.</th>
                                        <th>Promotion Name</th>
                                        <th>promotion code</th>
                                        <!--<th>Images</th>-->
                                        <th>Action</th>
                                    </tr>
                                    <%for (var i=0; i< promotion.length; i++){%>
                                    <tr>
                                        <td><%=i+1%></td>
                                        <td><%=promotion[i].promotion_name%></td>
                                        <td><%=promotion[i].promotion_code%></td>
                                        <td>
                                        <!--<button type="button" class="btn-link btnedit"-->
                                                <!--data-id ='{"empid":"<%=promotion[i]._id%>",-->
                                                <!--"promotionname":"<%=promotion[i].promotion_name%>",-->
                                                <!--"promotioncode":"<%=promotion[i].promotion_code%>",-->
                                                <!--"image":"<%=promotion[i].Images%>"-->

                                        <!--}'  data-toggle="modal" data-target="#exampleModal">-->
                                            <!--Edit-->
                                        <!--</button>-->
                                        <div class="btn-group-vertical">
                                            <button type="button" onclick="promoRemove('<%=promotion[i]._id%>','<%=promotion[i].promotion_name%>')" class="btn-link">Delete</button>
                                        </div>
                                    </td>

                                    </tr>
                                    <%}%>
                                    </thead>
                                </table>
                            </div><!-- /.box-body -->
                        </div><!-- /.box -->
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </section><!-- /.content -->


        </section><!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
    <script type="text/javascript">

        $(document).on("click", ".btnedit", function () {
            //console.log();
            var editPromotions = $(this).data('id');
            console.log(editPromotions);
            console.log(typeof editPromotions);
      /*      var myObj = JSON.parse(editPromotions);*/
            console.log(editPromotions.Images);
            $("#editid").val(editPromotions.empid);
            //var name = toString(editPromotions.promotionname);
            //console.log(name);
            $("#editpromotion_name").val(editPromotions.promotionname);
            $("#editpromotion_code").val(editPromotions.promotioncode);
            $("#editImages").val(editPromotions.Images);

            <!--$(".modal-body #editpassword").val(editPromotions.password);-->

        });

        function saveChanges() {
            var newEditEmpid = $("#editid").val();
            var newEditpromotion_name = $("#editpromotion_name").val();
            var newEditpromotion_code = $("#editpromotion_code").val();
            var newEditImages = $("#editImages").val();

// alert('edit-Promotions');
            //console.log(newEditLastname);

            $.ajax({
                type: "post",
                url: '/edit-Promotions',
                dataType: 'text',
                data: {
                    _id: newEditEmpid,
                    Promotion_name: newEditpromotion_name,
                    promotion_code: newEditpromotion_code,
                    Images: newEditImages,

                },

                success: function (response) {

                    if (response == "Updated") {
                        location.reload();
                    } else if (response.toLowerCase().indexOf("400") >= 0) {
                        bootbox.alert(response);
                    }
                    else {
                        bootbox.alert("500: Not Successful ");
                    }
                }
            });

        }

        <!-- Promotions Record Delete  -->
        function promoRemove (_id,promotionname) {
            bootbox.confirm({
                title: "Delete Promotion ",
                message: 'Are you sure! you want to delete promotion '+ '"'+ promotionname +'"'+' information?',
                size: 'medium',
                onEscape: function () {
                    bootbox.hideAll();
                },
                callback: function (result) {
                    if (result) {
                        $.ajax({
                            type: "post",
                            url: '/delete-Promotion',
                            dataType: 'text',
                            data: {
                                _id: _id
                            },
                            success: function (response) {
                                if (response == "OK") {
                                    location.reload();
                                } else if (response.toLowerCase().indexOf("400") >= 0) {
                                    bootbox.alert(response);
                                }
                                else {
                                    bootbox.alert("500: Not Successful ");
                                }
                            }
                        });
                    }
                }

            });
        }

    </script>
    <%include ./layout/footer.ejs%>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Promotion Information Change</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <!-- Moden Body start-->
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-4 col-md-offset-4">
                        <form class="form-horizontal" role="form" >
                            <fieldset>
                                <!-- Form Name -->
                                <legend>Promotion Update</legend>

                                <!-- Text input-->




                                <div class="form-group">
                                    <label for="textinput">promotion_name</label>
                                    <input type="text" id="editpromotion_name" val="" class="form-control"/>
                                </div>

                                <div class="form-group">
                                    <label for="textinput">promotion_code</label>
                                    <input type="text" id="editpromotion_code" value="" class="form-control"/>
                                </div>



                        </form>
                    </div><!-- /.col-lg-12 -->
                </div>
            </div>

            <!-- Moden Body End-->
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" onclick="saveChanges()" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>



<!-- Model End -->
<!-- ./wrapper -->
</body>
</body>
</html>
